<div class="d-flex flex-column align-items-center h-100">
  <div class="h-100 w-75">
    <ag-grid-angular
      class="ag-theme-balham"
      [pagination]="true"
      [defaultColDef]= "defaultColDef"
      [columnDefs]="columnDefs"
      (cellClicked)="onCellClicked($event, showModalByClickFieldName)"
      (gridSizeChanged)="onGridSizeChanged($event)"
      (gridReady)="onGreadReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
<app-details-modal [data]="data$ | async"></app-details-modal>
